html, body {
    margin: 0;
    padding: 0;
    background-image:url(images/erreur-404.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    body {
        font-family: 'Josefin Sans', sans-serif; 
        font-size: 100%;
        color: #F5F5F5;
        }

    .page_not_found {
        text-align: center;
    }
   
    h1 {
        font-size: 600%;
    }

    h2 {
        font-size: 300%;
    }
  
    h3{
        font-weight: lighter;
    }


    /*exemple bouton*/


    button{
        margin: 2rem auto;
        max-width:400px;
        border:none;
        color: white;
        border-radius: .25rem;
        font-size: 1.125rem;
        padding: 20px 60px;
        cursor:pointer
            
            }		
        
        
        .btn {
        
        background:linear-gradient(135deg, #b13842 0%,#f71c1c 100%);
        
        
            }
        
        .btn:hover{
            
            animation:pulsation_bouton .8s ease-out
            
            }
        
        @keyframes pulsation_bouton {
            
        from{
            box-shadow:0 0 0 -3px hsla(0,0%,100%,0),0 0 0 0 rgb(243, 243, 241)
            
            }
        to{
            
            box-shadow:0 0 0 10px hsla(0,0%,100%,0),0 0 0 13px hsla(0,0%,100%,0)}
            
            }
            